	
	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    	<div class="container text-center" style="padding-top: 1%;">
      		
			<p>Copyright &copy; A1 Mart 2020   |   Created by - <a href="https://www.facebook.com/abhiavisekkr"><img style="padding: 3px;" class="img-circle" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-1/p160x160/89764902_1241424009387873_9085526710757097472_o.jpg?_nc_cat=102&ccb=2&_nc_sid=dbb9e7&_nc_ohc=oQjHqd-V3OEAX-svN8d&_nc_ht=scontent.fpat1-1.fna&tp=6&oh=0b0e02fa624f53ccccd2f5cbeb37a896&oe=5FCF30E0">
				Abhishek Kumar</a></p>
    	</div>
  	</footer>
	<!-- jQuery CDN -->
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>

	<!-- Bootstrap JS CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</body>
</html>