<!DOCTYPE html>
<html>
    <head>
        <title>A1 Mart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
      
    <div id="landing-header">
 		<h1>Welcome to A1 Mart!</h1>
		<h4>A complete online family fashion store</h4>
		<hr>
		<a href="/products" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>  Start Shopping</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

