body {
	background: #159957;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5em;
}
 
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.jumbotron
{   
padding-top: 0px;
padding-bottom:0px;
background-image:url('https://i.pinimg.com/originals/1a/5c/0d/1a5c0df4108d2f4b2254962df6c18ff0.jpg');
background-size: cover;
background: contain;
height: fit-content;
padding-bottom: 5em;
 }

 .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #007bed;
}

.navbar-nav a:hover{
  background-color: #007bed;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} 
  
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}  

.thumbnail .xyz {
	height: 200px;
}
.thumbnail .xxx {
	
	height: 300px;
}
.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}
/*------------LOGIN-----------*/

.card-signin {

  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-signin .card-body {
  padding: 2rem;
}
.form-signin {
  width: 100%;
}